<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="files/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="files/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="files/favicon-16x16.png">
    <link rel="manifest" href="files/site.webmanifest">
    <title>TimeTicket_OMGSoft</title>
</head>
<body>
    <header>
        <nav class="navbar">
            
            <ul class="navbar-left">
                
              <li><a href="#">Главная</a></li>
              <li><a href="#">Создать мероприятие</a></li>
            </ul>
            <ul class="navbar-right">
              <li><a href="register.html">Зарегистрироваться</a></li>
              <li><a href="#">Войти</a></li>
            </ul>
        </nav>
    </header>

    <section class="body-sec">
        <div >
            <!-- <div class="image-fon"> -->
                <div class="const-flex">

                    <div class="const-mer">
                     <h1 style="margin-bottom: 15px; margin-top: 15px;">Создайте мероприятие!</h1>
                     <ul class="ul-mer">
                         <li>Название 
                             <input type="text">
                         </li>
                         <li>Дата <form action="" style="display: inline-block;"><input type="text"></form>
     
                         
                         </li>
                         <li>Возраст
                             <select name="" id="">
                                 <option value="1">0+</option>
                                 <option value="2">6+</option>
                                 <option value="3">16+</option>
                                 <option value="4">18+</option>
                                 
                             </select>
                         </li>
                         <li>Цена <form action="" style="display: inline-block;"><input type="text"></form>
     
                         
                         </li>
                         <li>Фото <form  action="" style="display: inline-block;"><input id="fr" type="image"></form>
                         </li>
                         <li>Описание <form action=""><textarea name="" id="" cols="30" rows="10"></textarea></form>
                         </li>
                     </ul>
     
                    </div> 
                    
                 </div>
                </div>
        </div>
    </section>

    <footer>
        
    </footer>
</body>
</html>